{
  "presets": ["react"],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": [["es2015", {
        "modules": false
      }], "stage-1"],
      "plugins": [
        "flow-react-proptypes",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-decorators",
        "syntax-decorators",
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "presets": ["es2015", "stage-1"],
      "plugins": [
        "add-module-exports",
        "react-hot-loader/babel",
        "flow-react-proptypes",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-decorators",
        "syntax-decorators",
        "transform-flow-strip-types"
      ]
    }
  },
  "parserOpts": {
    "allowReturnOutsideFunction": true,
    "allowImportExportEverywhere": true
  }
}
