{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    "react-hot-loader/babel",
    "flow-react-proptypes",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-decorators",
    "syntax-decorators",
    "add-module-exports",
    ["babel-plugin-webpack-alias", {
      "config": "./webpack.eslint.js"
    }]
  ],
  "parserOpts": {
    "allowReturnOutsideFunction": true,
    "allowImportExportEverywhere": true
  }
}
