<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
<div id="docs"></div>
<% if (htmlWebpackPlugin.options.vendor) { %>
  <script type="text/javascript" src="/public/vendor.bundle.js"></script>
<% } %>
</body>
</html>
